<div class="container" id="content-wrap">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header">
                    <h4>Foro de chat</h4>
                </div>
                <div class="card-body" id="chat"></div>

                <form action="" id="messages-form" class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>