<div class="card">
  <h5 class="card-header">Estado de compra:</h5>
  <div class="card-body">
    <h5 class="card-title">¡Compra finalizada con exito!</h5>
    <p class="card-text">Revisa tu correo con el detalle de tu órden.</p>
    <a href="/api/products" class="btn btn-primary">Seguir mirando</a>
  </div>
</div>