<div class="centerCard">
    <form id="formProduct"  class="form" enctype="multipart/form-data">
        <p class='title'>AÑADIR NUEVO PRODUCTO:</p>
        <section class="alinear">
            <div class="item">
                <label for="title">Nombre:</label>
                <input type="text" id="title" class="inputProd">
            </div>

            <div class="item">
                <label for="category" >Categoría:</label>
                <select id="category" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </section>

        <section  class="alinear">
            <div class="item">
                <label for="price" >Precio:</label>
                <input type="number" id="price" class="inputProd" >
            </div>
            <div class="item"> 
                <label for="stock" >Stock disponible:</label>
                <input type="number" id="stock" class="inputProd">
            </div>
        </section>

        <section class="alinear">

            <div class="item">
                <label for="description" >Descripción:</label>
                <input type="text" class="descrip" id="description">
            </div>
            
            <div class="item">
                <label for="thumbnail" >Imagen:</label>
                <input  type="file" id="thumbnail" class="inputProd" >
            </div>
        </section>
        <input class="btn newSubmit" type="submit" value="CARGAR PRODUCTO">
    </form>
</div>







<p class='title'>LISTA DE PRODUCTOS:</p>
<ul class="productList" id="products"></ul>

