<div class="centerLogin">
    <form action="/api/sessions/restorePass/{{tokenPass}}" method="post" class='form' >
        <p class='title'>Establecer nueva contraseña:</p>
        <label>Contraseña:</label>
        <input class='inputLogin' type="password" name="password" ></input>
        <input class="btn btn-primary submit" type="submit" value="RESTABLECER">
    </form>
</div>