<div class="centerLogin">
    <form action="/api/sessions/restore" method="post" class='form' >
        <p class='title'>RESTABLECER CONTRASEÑA:</p>
        <label>Email:</label>
        <input class='inputLogin'  type='email' name="email" ></input>
        <input class="btn btn-primary submit" type="submit" value="SIGUIENTE">
    </form>
</div>