<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/products">MATESULI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if isAdmin }}
          <a class="nav-link active" aria-current="page" href="/realtimeproducts">Administrar productos</a>
          
        {{else if isPremium }}
          <a class="nav-link active" aria-current="page" href="/realtimeproducts">Administrar productos</a>
        {{/if}}
      </ul>

      <ul class="navbar-nav ml-auto" >
      {{#if user}}
        <a class="nav-link active" aria-current="page" href="/chat"><img src='/img/chat.png'/></a>
        <a class="nav-link active" aria-current="page" href="/api/sessions/logout">Cerrar sesión</a>
        <a class="nav-link" href="/api/sessions/current">Perfil</a>
      {{else}}
        <a class="nav-link active" aria-current="page" href="/api/users/login">Inicia sesión</a>
        <a class="nav-link" href="/api/users/signup">Regístrate</a>
      {{/if}}
      </ul>

    </div>
  </div>
</nav>